


<div class="col-xs-2 col-md-2 col-sm-2 col-lg-2 ">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">C1</div>
        <div class="card-body">
          <h5 class="card-title">Computacion Grafica</h5>
          <p class="card-text">Comprender los fundamentos matemáticos y algorítmicos de la computación gráfica con el fin de crear competencias para el desarrollo de aplicaciones con excelente despliegue</p>
        </div>
      </div>
  
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px ">
        <div class="card-header">C1A</div>
        <div class="card-body">
          <h5 class="card-title">Computacion Grafica</h5>
          <p class="card-text">Comprender los fundamentos matemáticos y algorítmicos de la computación gráfica con el fin de crear competencias para el desarrollo de aplicaciones con excelente despliegue</p>
        </div>
      </div>
  
  </div>


<div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">ACK1</div>
        <div class="card-body">
          <h5 class="card-title">Estandares y Metricas de calidad de Software</h5>
          <p class="card-text">Comprender y aplicar conocimientos relacionados con los estándares y métricas de calidad en la Industria del Software que permita al estudioso </p>
        </div>
      </div>
  
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">ACK1A</div>
        <div class="card-body">
          <h5 class="card-title">Estandares y Metricas de calidad de Software</h5>
          <p class="card-text">Comprender y aplicar conocimientos relacionados con los estándares y métricas de calidad en la Industria del Software que permita al estudioso</p>
        </div>
      </div>
  
  </div>

<div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">C1</div>
        <div class="card-body">
          <h5 class="card-title">Ingenieria Web</h5>
          <p class="card-text">Reconocer los conceptos básicos de la Ingeniería Web 2 - Reconocer la importancia de aplicar de manera correcta los principios de Usabilidad y Experiencia de Usuario en un sitio web</p>
        </div>
      </div>
  
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">C1A</div>
        <div class="card-body">
          <h5 class="card-title">Ingenieria Web</h5>
          <p class="card-text">Reconocer los conceptos básicos de la Ingeniería Web 2 - Reconocer la importancia de aplicar de manera correcta los principios de Usabilidad y Experiencia de Usuario en un sitio web</p>
        </div>
      </div>
  
  </div>

<div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">ACK1</div>
        <div class="card-body">
          <h5 class="card-title">Inteligencia de Negocios</h5>
          <p class="card-text">Transmitir al estudiante el conjunto de estrategias, aplicaciones, datos, productos, tecnologías y arquitectura, utilizados en Inteligencia de Negocios</p>
        </div>
      </div>
  
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">ACK1</div>
        <div class="card-body">
          <h5 class="card-title">Inteligencia de Negocios</h5>
          <p class="card-text">Transmitir al estudiante el conjunto de estrategias, aplicaciones, datos, productos, tecnologías y arquitectura, utilizados en Inteligencia de Negocios</p>
        </div>
      </div>
  
  </div>

<div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
    <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">ACK1</div>
        <div class="card-body">
          <h5 class="card-title">Optimizacion Lineal</h5>
          <p class="card-text">Formular matemáticamente diversos sistemas de acuerdo a criterios estratégicos, tácticos u operacionales en la industria moderna, en sus diversas áreas de desarrollo, métodos algorítmicos </p>
        </div>
      </div>
  
      <div class="card text-white bg-dark mb-3" style="max-width: 20rem; padding:15px">
        <div class="card-header">ACK1A</div>
        <div class="card-body">
          <h5 class="card-title">Optimizacion Lineal</h5>
          <p class="card-text">Formular matemáticamente diversos sistemas de acuerdo a criterios estratégicos, tácticos u operacionales en la industria moderna, en sus diversas áreas de desarrollo, métodos algorítmicos</p>
        </div>
      </div>
  
  </div>


